body {
	font-size: 16px;
	color:#fff;
	background-color: #61122f;
	font-family: 'Oxygen', sans-serif;
	overflow-x: hidden;
}

body h1{
	text-align: center;
	margin-bottom: 40px;
}

#namebox1 {

text-align: center;
}

#box1{
  
  background-color: gray;
  width: 99%;
  height: 20%;
  border: 2px solid black;
  margin: 0px 10px 10px 10px;
  float: left;
  padding: 10px 10px 10px 10px;

}

#namebox1 {

font-weight:bold;
font-size: 27px;
margin-bottom: 10px;
}
/** HEADER **/
#header-nav {
	padding-left: 0;
	background-color: #f6b319;
	border-radius: 0;
	border: 0;
}


.navbar-brand {
	padding-top: 15px;
}


.navbar-brand h1 {
	font-family: 'Oxygen', sans-serif;
    color: black;
    font-size: 1.5em
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;

}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

#nav-list{
	margin-bottom: 1px solid black;
}

#nav-list a {
	color:black;
	text-align: center;
	font-size: 1.8em;
	text-decoration: none;
	border-top: 2px solid black;

}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border: 1px solid black;
}

.navbar-header button.navbar-toggle{
	 margin-top: -30px; 
	 clear:both;
}

@media (max-width: 766px){
	 


	#box1{
  position: center;
  display:center;
  background-color: gray;
  align-items: center;
  width:70%;
  height: 20%;
  border: 2px solid black;
  margin: 0px 0px 0px 100px;
  float: left;
  padding: 3%;

	}
}